In [2]:
# tensorflow + pandas

# pandas는 정형데이터를 취급
import pandas as pd
import tensorflow as tf

In [3]:
# 1. load data

In [35]:
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')
df = pd.read_csv(csv_file)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null object
target      303 non-null int64
dtypes: float64(1), int64(12), object(1)
memory usage: 33.3+ KB

In [37]:
# keras classfier로 sklearn의 pipeline을 활용함.

In [41]:
# category를 캐스팅 --> labelEncoding

# 1.pd.Categorical
df['thal'] = pd.Categorical(df['thal'])
# CategoricalDtype(categories=['1', '2', 'fixed', 'normal', 'reversible'], ordered=False)
df.thal.cat.codes # category일때는 .cat가능 # + category도 내부적으로는 숫자로관리함.
# int8

# 2. astype
df['thal'] = df['thal'].astype('category')

In [42]:
df['thal'].dtypes

CategoricalDtype(categories=['1', '2', 'fixed', 'normal', 'reversible'], ordered=False)

In [75]:
df.thal.cat.codes # category일때는 .cat가능

0      2
1      3
2      4
3      3
4      3
      ..
298    2
299    4
300    4
301    4
302    4
Length: 303, dtype: int8

In [76]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

NameError: name 'target' is not defined

In [73]:
# tips데이터 labelencoding해보기

import seaborn as sns

tips = sns.load_dataset('tips')

# tips

# category를 캐스팅 --> labelEncoding
def convert_label_encoding(dataDummy, columnsName):
    dataDummy[columnsName] = pd.Categorical(dataDummy[columnsName])
    dataDummy[columnsName] = dataDummy[columnsName].cat.codes
    dataDummy[columnsName] = dataDummy[columnsName].astype('category')
    return dataDummy[columnsName]

for i in ['sex', 'smoker', 'day', 'time']:
    tips[i] = convert_label_encoding(tips, i)

In [74]:
tips

     total_bill   tip sex smoker day time  size
0         16.99  1.01   1      1   3    1     2
1         10.34  1.66   0      1   3    1     3
2         21.01  3.50   0      1   3    1     3
3         23.68  3.31   0      1   3    1     2
4         24.59  3.61   1      1   3    1     4
..          ...   ...  ..    ...  ..  ...   ...
239       29.03  5.92   0      1   2    1     3
240       27.18  2.00   1      0   2    1     2
241       22.67  2.00   0      0   2    1     2
242       17.82  1.75   0      1   2    1     2
243       18.78  3.00   1      1   0    1     2

[244 rows x 7 columns]