In [19]:
import folium
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

plt.style.use('ggplot')
plt.rcParams['font.family'] = 'Noto Sans CJK JP'

In [31]:
data = pd.read_csv('./과거 동네예보(일간).csv', encoding='cp949')

In [32]:
data

     day   hour  forecast  value location:60_127 Start : 20180901
0     01  00:30       1.0                                     25.9
1     01  00:30       2.0                                     27.5
2     01  00:30       3.0                                     29.0
3     01  01:30       1.0                                     27.4
4     01  01:30       2.0                                     29.0
...   ..    ...       ...                                      ...
2156  30  23:30       1.0                                     14.0
2157  30  23:30       2.0                                     15.0
2158  30  23:30       3.0                                     16.0
2159  30  23:30       4.0                                     17.0
2160        NaN       NaN                                      NaN

[2161 rows x 4 columns]

In [33]:
data.columns

Index(['day', 'hour', 'forecast', 'value location:60_127 Start : 20180901 '], dtype='object')

In [39]:

data['YM'] = '2018-09-'
data['YMDH'] = data['YM'] + data['day'] + ' ' + data['hour']
data['Date'] = pd.to_datetime(data['YMDH'])
data.columns

Index(['day', 'hour', 'forecast', 'value location:60_127 Start : 20180901 ',
       'YM', 'YMDH', 'Date'],
      dtype='object')

In [40]:
new_data = data[['Date', 'forecast', 'value location:60_127 Start : 20180901 ']]
new_data.rename({"value location:60_127 Start : 20180901 ": 'value'}, axis=1,inplace=True)

/home/ai35/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [41]:
time_data = new_data.set_index('Date')

In [42]:
time_data['2018-09-01 00:30' :'2018-09-01 08:30']

                     forecast      value
Date
2018-09-01 00:30:00       1.0  25.900000
2018-09-01 00:30:00       2.0  27.500000
2018-09-01 00:30:00       3.0  29.000000
2018-09-01 01:30:00       1.0  27.400000
2018-09-01 01:30:00       2.0  29.000000
2018-09-01 02:30:00       1.0  29.000000
2018-09-01 02:30:00       2.0  29.700001
2018-09-01 02:30:00       3.0  30.299999
2018-09-01 02:30:00       4.0  31.000000
2018-09-01 03:30:00       1.0  29.100000
2018-09-01 03:30:00       2.0  30.000000
2018-09-01 03:30:00       3.0  31.000000
2018-09-01 04:30:00       1.0  30.000000
2018-09-01 04:30:00       2.0  31.000000
2018-09-01 05:30:00       1.0  31.000000
2018-09-01 05:30:00       2.0  30.299999
2018-09-01 05:30:00       3.0  29.700001
2018-09-01 05:30:00       4.0  29.000000
2018-09-01 06:30:00       1.0  29.700001
2018-09-01 06:30:00       2.0  29.299999
2018-09-01 06:30:00       3.0  29.000000
2018-09-01 07:30:00       1.0  29.700001
2018-09-01 07:30:00       2.0  29.000000
2018-09-01 08:30:00       1.0  29.000000
2018-09-01 08:30:00       2.0  27.700001
2018-09-01 08:30:00       3.0  26.299999
2018-09-01 08:30:00       4.0  25.000000

In [43]:
time_data['2018-09-01 00:30']

                     forecast  value
Date
2018-09-01 00:30:00       1.0   25.9
2018-09-01 00:30:00       2.0   27.5
2018-09-01 00:30:00       3.0   29.0

In [47]:
data.drop(2160, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 0 to 2159
Data columns (total 7 columns):
day                                        2160 non-null object
hour                                       2160 non-null object
forecast                                   2160 non-null float64
value location:60_127 Start : 20180901     2160 non-null float64
YM                                         2160 non-null object
YMDH                                       2160 non-null object
Date                                       2160 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 135.0+ KB

In [48]:
time_data = new_data.set_index('Date')

In [49]:
time_data.unstack()

          Date
forecast  2018-09-01 00:30:00     1.0
          2018-09-01 00:30:00     2.0
          2018-09-01 00:30:00     3.0
          2018-09-01 01:30:00     1.0
          2018-09-01 01:30:00     2.0
                                 ...
value     2018-09-30 23:30:00    14.0
          2018-09-30 23:30:00    15.0
          2018-09-30 23:30:00    16.0
          2018-09-30 23:30:00    17.0
          NaT                     NaN
Length: 4322, dtype: float64

In [ ]:
new_data.set_index(['Date', 'forecast']) # 동시에 2개 인덱스

In [ ]:
new_data.set_index(['Date', 'forecast']).unstack().dropna()

In [ ]:
# stack() # 컬럼을 인덱스로 바꿔라

In [ ]:
# unstack() # 인덱스를 컬럼을  바꿔라