In [ ]:
# !!!! 시간별로 그래프 꺾은 선 그리기

In [1]:
import folium
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('ggplot')
plt.rcParams['font.family'] = 'Noto Sans CJK JP'

In [2]:
data = pd.read_csv('./weather.csv', encoding='cp949')

In [9]:
data.info() # 확인해보니 발표시각이 datetime이 아닌 object이므로 datetime으로 컨버팅하여 set_index

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 5 columns):
발표시각    182 non-null object
예보시각    182 non-null object
날씨      182 non-null object
최저기온    112 non-null float64
최고기온    112 non-null float64
dtypes: float64(2), object(3)
memory usage: 7.2+ KB

In [10]:
data['발표시각'].str.upper() # pandas에서 .str을 하면 str에 정의되어있는 함수를 사용할수 있음.
# + .dt를 하면 datetime에 정의되어있는 함수를 사용할 수 있음.

0      2017-04-27 06:00
1      2017-04-27 06:00
2      2017-04-27 06:00
3      2017-04-27 06:00
4      2017-04-27 06:00
             ...
177    2017-05-03 18:00
178    2017-05-03 18:00
179    2017-05-03 18:00
180    2017-05-03 18:00
181    2017-05-03 18:00
Name: 발표시각, Length: 182, dtype: object

In [14]:
# 타입캐스팅 방법 2가지

In [15]:
pd.to_datetime(data['발표시각']) # casting  astype(자료형)

0     2017-04-27 06:00:00
1     2017-04-27 06:00:00
2     2017-04-27 06:00:00
3     2017-04-27 06:00:00
4     2017-04-27 06:00:00
              ...
177   2017-05-03 18:00:00
178   2017-05-03 18:00:00
179   2017-05-03 18:00:00
180   2017-05-03 18:00:00
181   2017-05-03 18:00:00
Name: 발표시각, Length: 182, dtype: datetime64[ns]

In [16]:
data['발표시각'].astype('datetime64') # casting  astype(자료형)

0     2017-04-27 06:00:00
1     2017-04-27 06:00:00
2     2017-04-27 06:00:00
3     2017-04-27 06:00:00
4     2017-04-27 06:00:00
              ...
177   2017-05-03 18:00:00
178   2017-05-03 18:00:00
179   2017-05-03 18:00:00
180   2017-05-03 18:00:00
181   2017-05-03 18:00:00
Name: 발표시각, Length: 182, dtype: datetime64[ns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 5 columns):
발표시각    182 non-null object
예보시각    182 non-null object
날씨      182 non-null object
최저기온    112 non-null float64
최고기온    112 non-null float64
dtypes: float64(2), object(3)
memory usage: 7.2+ KB

In [18]:
data['예보시각']

0      2017-04-30 오전
1      2017-04-30 오후
2      2017-05-01 오전
3      2017-05-01 오후
4      2017-05-02 오전
           ...
177    2017-05-10 오전
178    2017-05-10 오후
179       2017-05-11
180       2017-05-12
181    2017-05-13 오전
Name: 예보시각, Length: 182, dtype: object

In [33]:
t = data['예보시각'].str.split(' ', expand=True).rename({0:'예보', 1: '시각'}, axis=1)

In [34]:
new_data = pd.concat([data, t], axis=1).drop('예보시각', axis=1) # 기존 테이블 + 신규 테이블 then drop 예보시각

In [39]:
new_data.info() # 예보가 object이므로 datetime으로 casting

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
발표시각    182 non-null object
날씨      182 non-null object
최저기온    112 non-null float64
최고기온    112 non-null float64
예보      182 non-null object
시각      141 non-null object
dtypes: float64(2), object(4)
memory usage: 8.7+ KB

In [46]:
new_data['예보'] = new_data['예보'].astype('datetime64')

In [47]:
# 4월 27만 추출하기

In [50]:
new_data.set_index(['발표시각', '예보']).duplicated() # 인덱스로 변경하면 편하게 조회가능, 다시 컬럼으로 변경(중복제거필요)

발표시각              예보
2017-04-27 06:00  2017-04-30    False
                  2017-04-30    False
                  2017-05-01     True
                  2017-05-01    False
                  2017-05-02     True
                                ...
2017-05-03 18:00  2017-05-10     True
                  2017-05-10     True
                  2017-05-11     True
                  2017-05-12     True
                  2017-05-13    False
Length: 182, dtype: bool