In [1]:
import seaborn as sns

In [4]:
tips = sns.load_dataset('tips')

In [5]:
tips.groupby(['sex'])

In [7]:
len(tips.groupby(['sex'])) # 1. split

2

In [9]:
tips.groupby(['sex']).mean() # 2. apply & combine

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

In [12]:
tips.groupby(['sex']).agg(['mean', 'max']) # 표준편차
tips.groupby(['sex']).aggregate(['mean', 'max']) # 표준편차

       total_bill              tip            size
             mean    max      mean   max      mean max
sex
Male    20.744076  50.81  3.089618  10.0  2.630573   6
Female  18.056897  44.30  2.833448   6.5  2.459770   6