In [1]:
	import folium
	import pandas as pd
	import numpy as np
	import matplotlib.pyplot as plt

	plt.style.use('ggplot')
	plt.rcParams['font.family'] = 'Noto Sans CJK JP'

In [5]:
data = pd.read_csv('tidy/weather.txt', sep='\t')

In [7]:
data.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [11]:
x = data.melt(data.columns[:4]).dropna() # melt

In [12]:
x

              id  year  month element variable  value
20   MX000017004  2010     12    TMAX       d1  299.0
21   MX000017004  2010     12    TMIN       d1  138.0
24   MX000017004  2010      2    TMAX       d2  273.0
25   MX000017004  2010      2    TMIN       d2  144.0
40   MX000017004  2010     11    TMAX       d2  313.0
..           ...   ...    ...     ...      ...    ...
631  MX000017004  2010      8    TMIN      d29  153.0
638  MX000017004  2010      1    TMAX      d30  278.0
639  MX000017004  2010      1    TMIN      d30  145.0
674  MX000017004  2010      8    TMAX      d31  254.0
675  MX000017004  2010      8    TMIN      d31  154.0

[66 rows x 6 columns]