In [2]:
import pandas as pd
import numpy as np

In [3]:
b = pd.read_csv('acci.csv', encoding='cp949') # load

In [7]:
b['시도시군구명'] # series

0        서울특별시 종로구1
1        서울특별시 성북구1
2        서울특별시 성북구2
3        서울특별시 성북구3
4        서울특별시 도봉구1
            ...
10360        경기 파주2
10361        경기 파주3
10362        경기 파주4
10363        경기 구리1
10364        경기 포천1
Name: 시도시군구명, Length: 10365, dtype: object

In [8]:
b[['시도시군구명']] # dataParam

           시도시군구명
0      서울특별시 종로구1
1      서울특별시 성북구1
2      서울특별시 성북구2
3      서울특별시 성북구3
4      서울특별시 도봉구1
...           ...
10360      경기 파주2
10361      경기 파주3
10362      경기 파주4
10363      경기 구리1
10364      경기 포천1

[10365 rows x 1 columns]

In [31]:
b['시도시군구명'].str # .str하면 python의 string 기본 함수 그대로 사용할 수 있음.

In [42]:
x = b['시도시군구명'].str

In [43]:
x.split(expand=True)

           0     1     2
0      서울특별시  종로구1  None
1      서울특별시  성북구1  None
2      서울특별시  성북구2  None
3      서울특별시  성북구3  None
4      서울특별시  도봉구1  None
...      ...   ...   ...
10360     경기   파주2  None
10361     경기   파주3  None
10362     경기   파주4  None
10363     경기   구리1  None
10364     경기   포천1  None

[10365 rows x 3 columns]

In [49]:
t = x.split(expand=True).rename({0:'시',1:'군',2:'구'}, axis = 1)

In [50]:
pd.concat([b, t], axis = 1)

,사고지역관리번호,사고년도,사고유형구분,위치코드,시도시군구명,사고지역위치명,발생건수,사상자수,사망자수,중상자수,경상자수,부상자수,위도,경도,사고다발지역폴리곤정보,데이터기준일자,시,군,구
0,2013060,2012,스쿨존어린이,11110001,서울특별시 종로구1,서울특별시 종로구 혜화동(혜화초교 부근),2,2,0,1,1,0,37.588413,126.999607,"{type:Polygon,coordinates:[[[127.002009,37.590...",2019-10-10,서울특별시,종로구1,None
1,2013060,2012,스쿨존어린이,11290001,서울특별시 성북구1,서울특별시 성북구 종암동(숭례초교 부근),2,2,0,0,1,1,37.595505,127.035733,"{type:Polygon,coordinates:[[[127.0381354,37.59...",2019-10-10,서울특별시,성북구1,None
2,2013060,2012,스쿨존어린이,11290002,서울특별시 성북구2,서울특별시 성북구 동소문동7가(정덕초교 부근),2,2,0,2,0,0,37.597571,127.014564,"{type:Polygon,coordinates:[[[127.0169658,37.59...",2019-10-10,서울특별시,성북구2,None
3,2013060,2012,스쿨존어린이,11290003,서울특별시 성북구3,서울특별시 성북구 석관동(석관초교 부근),3,3,0,2,1,0,37.610429,127.059596,"{type:Polygon,coordinates:[[[127.0619982,37.61...",2019-10-10,서울특별시,성북구3,None
4,2013060,2012,스쿨존어린이,11320001,서울특별시 도봉구1,서울특별시 도봉구 쌍문동(쌍문초교 부근),2,2,0,0,2,0,37.648129,127.024430,"{type:Polygon,coordinates:[[[127.0268336,37.65...",2019-10-10,서울특별시,도봉구1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10360,2019066,2018,무단횡단,280641002,경기 파주2,경기도 파주시 금촌동(우리은행 파주금융센터 부근),5,7,0,2,5,0,37.757022,126.773592,"{type:Polygon,coordinates:[[[126.77628656,37.7...",2019-10-10,경기,파주2,None
10361,2019066,2018,무단횡단,280641003,경기 파주3,경기도 파주시 조리읍(봉일천우체국 부근),5,5,0,2,3,0,37.743755,126.806671,"{type:Polygon,coordinates:[[[126.80936607,37.7...",2019-10-10,경기,파주3,None
10362,2019066,2018,무단횡단,280641004,경기 파주4,경기도 파주시 금촌동(금촌사거리 부근),4,4,0,2,2,0,37.763186,126.773463,"{type:Polygon,coordinates:[[[126.77615816,37.7...",2019-10-10,경기,파주4,None
10363,2019066,2018,무단횡단,280941001,경기 구리1,경기도 구리시 수택동(세븐일레븐 구리으뜸점 부근),6,6,0,2,4,0,37.598290,127.136542,"{type:Polygon,coordinates:[[[127.13923669,37.5...",2019-10-10,경기,구리1,None
10364,2019066,2018,무단횡단,281041001,경기 포천1,경기도 포천시 소흘읍(송우순복음교회 부근),4,5,0,1,4,0,37.825582,127.143884,"{type:Polygon,coordinates:[[[127.14657884,37.8...",2019-10-10,경기,포천1,None

In [51]:
# 서울특별시의 특별을 제거하기

In [60]:
x = b['시도시군구명'].str.replace('특별','')

In [61]:
x

0        서울시 종로구1
1        서울시 성북구1
2        서울시 성북구2
3        서울시 성북구3
4        서울시 도봉구1
           ...
10360      경기 파주2
10361      경기 파주3
10362      경기 파주4
10363      경기 구리1
10364      경기 포천1
Name: 시도시군구명, Length: 10365, dtype: object

In [63]:
x = b['시도시군구명'].str

In [64]:
x.contains